.bg-gradient{
    background: linear-gradient(120deg, black, purple) !important;
}
.nav .nav-item a{
    border-radius: 28px;
}
.nav .nav-item a:hover{
    transition: 0.6s;
    background: #ccc;
    border-radius: 28px;
    color:#000 !important;
}
/* altura section */
.altura-section {
  height: 550px;
  padding-bottom: 80px;
}
/**btn whatsapp**/

.btn-whats{
    background-color: #25D366;
    color: white;
    width: 30px;
    height: 30px;
    text-decoration: none;
    border-radius: 800px;
    
    top: 85%;
    left: 90%;
    position: fixed;
    transition: all .6s;
    animation: 2s btn-whats;
    animation-fill-mode: both;
    animation-iteration-count:1;
    z-index: 1;
  }.btn-whats:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  }
  
  .pulse{
    animation: pulse 2s infinite;
  }
  
  
  
  .btn-whats > i{
    position: relative;
    font-size: 2.4rem;
    margin: -5px -1px;
  }
  
  @media only screen and (min-width: 900px){
    .btn-whats{
      left: 92%;
    }
    
  
  }
  
  @media only screen and (max-width: 700px){
    .btn-whats{
      left: 85%;
    }
    h1{
      font-size: 1.8rem;
    }
  }
  
  @media only screen and (max-width: 450px){
    .btn-whats{
      left: 80%;
    }
    
  }
  
  @media only screen and (max-width: 350px){
    .btn-whats{
      left: 75%;
    }
    .altura-section {
      height: 1000px;
    }
  }
  /* Animações */
  @keyframes btn-whats{
    10%{
      transform: translate(0, 200px); 
    }
    50%{
      transform: translate(0, -40px);
    }
    
    70%{
      transform: scale(1.1);
    }
  }
  
  @keyframes pulse {
    50%{
      transform: scale(1.1);
    }
  }
/**fim btn whatsapp**/

